.HolaMundo {
  position: relative;
  width: 26rem;
}

.HolaMundo::before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Hola Mundo !!!!';
  text-transform: capitalize;docker tag leovilla8070616:latest 352960377204.dkr.ecr.us-east-1.amazonaws.com/leovilla8070616:latest
  font-family: arial;
  color: #fff;
  font-size: 5rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  height: auto;
  animation: 4s infinite steps(10) AnimatedTabKey;
}

.HolaMundo::after {
  content: "|";
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  animation: 4s AnimateLine infinite, Desplaced 4s infinite steps(10);
}

body {
  background: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@keyframes AnimatedTabKey {
  to {
    width: 100%;
  }
}

@keyframes AnimateLine {
  from {
    color: transparent;
  }
  to {
    color: #fff;
  }
}

@keyframes Desplaced {
  to {
    left: 100%;
  }
}
